[submodule "src/control_panel"]
	path = src/control_panel
	url = https://github.com/lukas2005/fusebase-controlpanel.git
[submodule "src/client"]
	path = src/client
	url = https://github.com/lukas2005/fusebase-client.git
