extends template.pug

block main
	div(id="onConnectModulesList" class="border")
		span Auto Run Modules:

		ul
			each modulee in autoRunListModules || []
				li
					input(type="checkbox", id=modulee.name+"_onConnectCheckbox", checked=onConnectModules.includes(modulee.name))
					= modulee.name
	
	each widget in renderedWidgets || []
		!= widget

	div(style="clear: both;")

	//- each modulee in modules || [{name:"span", content: "hello"}]
	//- 	#{modulee.name} #{modulee.content}

	div(class="center")
		input(type="submit", onclick="save()", value="Save")

block scripts
	script(src="js/modules.js")