extends template.pug

block main
	div(class="center")

	div(id="onConnectModulesList")
		span Auto Run Modules:
		
		ul
			each name in onConnectModules
				li
					input(type="checkbox", id=name+"_onConnect")
					= name

	div(style="clear: both;")