extends template.pug

block main
	<div class="center">

	</div>
	<div id="onConnectModulesList">
		<ul>
			each name in onConnectModules
				li
					input(type="checkbox", id=name+"_onConnect")
					= name
		</ul>
	</div>
	<div style="clear: both;"></div>